@import 'tailwindcss';

@font-face {
  font-family: "hunter-mozi";
  src: url("./assets/hunter-mozi.ttf");
}

dialog {
  background: none;
}

dialog[open] {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}